.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    max-width: 768px;
    margin: auto;
    padding: 0 1em;
    font-size: 1.3em;
}

.questionImage {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 1em;
    object-fit: contain;
    border-radius: 7px;
    box-shadow: -3px 2px 15px 0px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
}

.title {
    flex: 1 1 6em;
    user-select: text;
}

.answersList {
    display: grid;
    grid-auto-rows: 1fr;
    margin-bottom: 3em;
    gap: 1em;
    flex: 1 1 40%;
}

.explanationText {
    width: 100%;
    max-width: 768px;
    margin: 1em auto;
    padding: 1em 0.75em;
    border-radius: 7px;
    user-select: text;
}
.explanationText.correct {
    background: #45e95240;
}
.explanationText.wrong {
    background: #e9456040;
}
.explanationOkButton {
    width: 100%;
    max-width: 768px;
    margin: auto;
    margin-bottom: 3em;
}
