.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 768px;
    margin: auto;
    padding: 0 1em;
    font-size: 1.3em;
}

.questionImage {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 1em;
    object-fit: contain;
    border-radius: 7px;
    box-shadow: -3px 2px 15px 0px rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.3);
}

.title {
    flex: 1 1 6em;
    user-select: text;
}

.answersList {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: 3em;
    gap: 1em;
    flex: 1 1 40%;
}

.explanationRoot {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f1f1f1;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.2);
    padding: 0 0.75em;
}
.explanationText {
    width: 100%;
    max-width: 768px;
    margin: 1em auto;
    padding: 1em 0.75em;
    border-radius: 7px;
    user-select: text;
}
.explanationText.correct {
    background: #45e95240;
}
.explanationText.wrong {
    background: #e9456040;
}
.explanationOkButton {
    width: 100%;
    max-width: 768px;
    margin: auto;
    margin-bottom: 3em;
}

/* for explanation transition */
.enter {
    transform: translateY(100%);
}
.enterActive {
    transform: translateY(0%);
    transition: transform 200ms ease;
}
.exit {
    transform: translateY(0%);
}
.exitActive {
    transform: translateY(100%);
    transition: transform 200ms ease;
}