.button {
    display: block;
    padding: 0.7em 0.5em;
    background: #f1f1f1;
    border: 0;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 2px 0px 4px rgba(0,0,0,0.2);
}
.button:active {
    transform: translateY(2px);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.2);
}